*{
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
  text-align: center;
}

.header {
  background-color: rgb(211, 211, 211);
  position: sticky;
  top: 0;
  padding: 10px;
  color: black;
}

h1:hover {
  cursor: pointer;
  color:rgb(65, 119, 65)
}

img{
  display: block;
  max-width: 75%;
  max-height: 75%;
  margin: auto;
}

iframe {
  width: 700px;
  height: 700px;
}

h3 {
  max-width: 70%;
  max-height: 70%;
  margin: auto;
  
}






